.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  position: relative;
  transition: var(--functcii--transition);

  &:hover,
  &:focus {
    background-color: var(--color-white);
    color: var(--accent-color);
    transition: var(--functcii--transition);
  }
}

.menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.linner::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);

  margin-bottom: -32px;
  border-radius: 2px;
}
