.address-item__city {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-bottom: 9px;
}

.contact-list-dark__info {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact-list-dark__mail-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}

.address-item {
  font-style: normal;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}
