.logo {
  @include font(26px, 1.19);
  font-family: var(--secondari-font);
  font-weight: 700;
  /*font-size: 26px;
  line-height: 1.19;*/
  margin-right: 93px;
  /*letter-spacing: 0.03em;*/
  font-style: normal;

  &_theme {
    &_light {
      color: #000000;
    }

    &_dark {
      color: var(--color-white);
      margin-bottom: 20px;
    }
  }
}

.logo__logo-web {
  color: var(--accent-color);
}

.container__nav-logo {
  display: flex;
  align-items: center;
}

/*.logo-footer {
  color: var(--color-white);
}*/

/*.logo-contact {
  font-family: var(--secondari-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-bottom: 20px;
  font-style: normal;
  display: block;
}*/
