.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-list__link:hover &,
  .social-list__link:focus & {
    color: var(--color-white);
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 206px;
  height: 44px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
  }
}
